$radius: 75px;
$animation-timing: cubic-bezier(1,0,1,0);

$color--active: #FFF;
$color--inactive: rgba(#FFF, 0.2);
$font-size: 35px;

html { height: 100%; }

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background: #DB6713;
  background: linear-gradient(45deg, #dba013, #df2445);
  font-family: 'Lato', sans-serif;
}

div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

ul {
  position: relative;
  width: 30px;
  height: $font-size;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: $font-size;
  font-weight: bold;
  overflow: hidden;

  &:nth-of-type(even) {
    margin-right: 15px;
    padding-right: 15px;

    &::after {
      content: ":";
      position: absolute;
      right: 0;
      color: $color--active;
      line-height: 1;
    }
  }

  &:last-of-type::after { display: none; }

  li {
    position: absolute;
    backface-visibility: hidden;
    color: $color--inactive;
    font-size: $font-size;
    line-height: 1;
    transition: transform 0.5s ease-in-out;
  }

  .active {
    color: $color--active;
    transform: translateY(0);
  }
}
